kind: Pod
apiVersion: v1
metadata: 
  name: pod-config
spec:
   containers:
   - name: nginx 
     image: nginx
     envFrom:
     - configMapRef:
        name: myconfig   

#  eksctl delete cluster --config-file=ekss.yaml