apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-Deployment
  # labels of deployment resources
  labels:
    app: nginx
    tier: frontend
    purpose: deployment
spec: 
  replicas: 3
  selectors:
    matchLables:
       app: nginx
       tier: frontend
       purpose: deployment
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        purpose: deployment
    spec:
      container:
       - name: nginx
         image: nginx:1.14.2
         ports:
          - containersPort: 80             