apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  # labels of deployment resources
  labels:
    app: nginx
    tier: frontend
    purpose: deployment
spec: 
  replicas: 3
  selector:
    matchLabels:
       app: nginx
       tier: frontend
       purpose: deployment
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        purpose: deployment
    spec:
      containers:
       - name: nginx
         image: vinayp77/deployment:1.0.0
         ports:
          - containerPort: 80   \
------
apiVersion: v1
kind: Service
metadata:
  name: nginx-lb
spec:
  type: LoadBalancer          # ✅ FIX 1
  selector:               # ✅ FIX 2 (match pod labels)
    app: nginx
    tier: frontend
    purpose: deployment
  
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080     # optional                    